{{- $personalEmail := promptString "personalEmail" -}}

encryption = "age"

[age]
  identity = "{{- .chezmoi.homeDir -}}/key.txt"
  recipient = "age1xsz896t8t2c9wayhydc34qg27yydc25tuklutcun5mqxxr5xx4vq59pry5"

[diff]
  pager = "bat"
  command = "batdiff"
  exclude = ["scripts", externals"]

[secret]
  command = "passage"

[data]
  personalEmail: {{- $personalEmail | quote -}}
