merge:
    command: nvim
    args:
        - -d
        - "{{ "{{ .Destination }}" }}"
        - "{{ "{{ .Source }}" }}"
        - "{{ "{{ .Target }}" }}"

git:
    autoAdd: true

format: yaml

# vim:ft=yaml:ts=2
