version: 2

updates:
  - directory: /
    open-pull-requests-limit: 5
    package-ecosystem: github-actions
    rebase-strategy: auto
    schedule:
      interval: daily
      timezone: "Asia/Kolkata"
      time: "06:00"
